body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Baskervville SC", serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    font-family: "Baskervville SC", serif;
}

.passo{
    display: none;
}

.passo.ativo{
    display: block;
}

main{
    max-width: 90%;
    background-color: aqua;
    padding-top: 100%;
    padding-bottom: 100%;
}